body {
    background: url(background.png) repeat-x;
    font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

p {
    margin-top: 10px;
}

a {
    color: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#header {
    position: relative;
    width: 900px;
    margin: auto;
}

#header h2 {
    font-size: 42px;
    font-weight: bold;
}

#content {
    width: 880px;
    margin: 0 auto;
    padding: 10px;
}

/* #footer { */
/*     margin-top: 25px; */
/*     margin-bottom: 10px; */
/*     text-align: center; */
/*     font-size: 12px; */
/*     color: #999; */
/* } */

.demo-container {
    box-sizing: border-box;
    width: 850px;
    height: 500px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.flot-base {
    direction: ltr;
    position: absolute;
    left: 0px;
    top: 0px;
}


#table-recent {
    width: 100%;
    border-collapse: collapse;
}

#table-recent th {
    padding: 3px;
    text-align: center;
    vertical-align: top;
    color: #333;
    background-color: #eee;
    border: 1px solid #b9b9b9;
}

#table-recent td {
    font-size: small;
    padding: 0px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #b9b9b9;
}

#table-problems {
    width: 100%;
    border-collapse: collapse;
}

#table-problems th {
    padding: large;
    text-align: center;
    vertical-align: top;
    color: #333;
    background-color: #eee;
    border: 1px solid #b9b9b9;
}

#table-problems td {
    font-size: small;
    height: 10px;
    padding: 0px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #b9b9b9;
}

#table-problems .problem-id {
    width:7%;
}

#table-problems .solved-mark {
    width:3%;
}
